*.pyc
*.swo
*.swp
**/.ipynb_checkpoints/
~*
*~
.project
*.egg*
.DS_Store
.coverage
.pytest_cache
.vscode
build/
dist/
pip-wheel-metadata/
.tox/
# Output di calcolo n2p2 / AiiDA
dump-*/
*.out
*.histo
*.log
*.data
!tests/fixtures/**/*.data
learning-curve*.out
*.out
!tests/fixtures/**/*.out
nnp-scaling.log.*
# Figure generate (opzionale)
examples/**/*.png
examples/**/*.jpg
# File locali da non versionare
examples/1.Al/plot-symfuncs.py
examples/1.Boron/
