*.pyc
*.swo
*.swp
**/.ipynb_checkpoints/
~*
*~
.project
*.egg*
.DS_Store
.coverage
.pytest_cache
.vscode
build/
dist/
pip-wheel-metadata/
.tox/
# Output di calcolo n2p2 / AiiDA
dump-*/
*.out
*.histo
*.log
*.data
learning-curve*.out
# Figure generate (opzionale)
examples/**/*.png
examples/**/*.jpg
